<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ゆっくりええAんばいI</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-183YLEWB2Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-183YLEWB2Q');
    </script>
    <!-- End Google Analytics -->
</head>
<body>
    <header>
        <h1><a href="/">ゆっくりええAんばいI</a></h1>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
